.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to right, #d68f65, #9dd7e6);
    animation: moveBackground 0.5s linear infinite;
}

.divider {
    outline: 2px solid royalblue;
}

.foodApp {
    width: 130px;
    height: 40px;
    padding: 8px;
    margin: 32px;
    border-radius: 16px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
}

.foodApp:hover {
    font-size: 18px;
}