.parent {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px 0
}
.head {
    font-size: 24px;
}

.listArea {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputArea {
    display: flex;
    gap: 16px;
    margin: 16px;
}
.card {
    width: 320px;
    height: 40px;
    background: crimson;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    opacity: 10px;
    cursor: pointer;
    }
    
    input {
        font-size: 16px;
}

.card:hover {
    opacity: 0px;
    box-shadow: tan;

    .label {
        font-size: 18px;
    }
}

.label {
    font-size: 16px;
    font-weight: 800;
        color: lavenderblush;
}

.closeButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.closeButton:hover {
    width: 22px;
    height: 22px;
}

.addButton {
    width: 80px;
    height: 40px;
    font-size: medium;
    font-weight: 600;
    background-color: darkseagreen;
    border-radius: 16px;
    cursor: pointer;
}

.nocard {
    width: 320px;
    height: 40px;
    background: gainsboro;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    opacity: 10px;
    cursor: pointer;

    .label {
        font-size: 16px;
        font-weight: 800;
        color: black;
    }
}