.parent {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px 0;
    flex-direction: column;
    align-items: center;
}

.paginationArea {
    display: flex;
    gap: 16px;
    margin: 16px;
}

.tableContainer {
    display: flex;
    flex-direction: column;
}

.tableHeader {
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    border: 1px solid teal;
    background-color: honeydew;
    font-weight: bolder;
}

.tableRow {
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    border: 1px solid teal;
}

.divider {
    outline: 2px solid royalblue;
    height: 100%
}

.pagination {
    display: flex;
    padding: 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(21 249 168);
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.paginationSelection {
    display: flex;
    padding: 8px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(249, 21, 89);
    border: none;
    cursor: pointer;
    font-weight: 800;
    background: lavender;
    border-radius: 50%;
}