.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin:25px;
    justify-content: center;
}

.fileBox{
    display: flex;
    width: 300px;
    height: 40px;
    padding:8px;
    gap:8px;
    background-color: chartreuse;
    color: white;
    margin: 8px 0px;
    font-size: 16px;
    border-radius: 8px;
    align-items: center;
}

span{
    font-size: 20px;
    font-weight: bold;
}